<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Pizza</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/226c8304e7.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/logo.png">
    <script src="../js/app.js" defer></script>
</head>
<body>
    <div class="layout">
        
        <header class="header__principal">
            <div class="principal__left">
            <img src="../img/logo.png" alt="Logo de World Pizza" class="left__logo">
        <a href="#" class="left__ancor">Servicios</a>
        <a href="#" class="left__ancor">Equipo</a>
        <a href="#" class="left__ancor">Contacto</a>
        </div>
        <div class="principal__right">
            <a href="#" class="right__ancor"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="right__ancor"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="right__ancor"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" class="right__ancor"><i class="fa-brands fa-youtube"></i></a>
            
        </div>
    </header>
    <div class="menu__mobile">
        <img src="../img/logo.png" alt="Logo de World Pizza" class="logo__mobile">
        <i class="fa-solid fa-angle-right fa-angle-right-hiden"></i>
        <i class="fas fa-bars"></i>
    </div>

        <section class="layout__slider">
            <i class="fa-solid fa-angle-left"></i>
            <p class="slider__subtitle">Producto <strong>premium</strong></p>
            <h1 class="slider__title">Pepperoni</h1>
            <p class="slider__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident velit sapiente architecto, iure maiores voluptate in at ut error perspiciatis deleniti magni voluptatem soluta voluptas reprehenderit recusandae quam. Quibusdam, consequatur?</p>
            <button class="boton">Solicitala aca!</button>
            <div class="slider__img"></div>
            <i class="fa-solid fa-angle-right"></i>
        </section>

    </div>
    
    

    
</body>
</html>