<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Pizza</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="https://kit.fontawesome.com/226c8304e7.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/logo.png">
    <script src="../js/app.js" defer></script>
</head>

<body>
    <div class="layout">
        <!--Header-->
        <header class="header__principal">

            <div class="header__left-group">
                <img src="../img/logo.png" alt="Logo de World Pizza" class="principal__logo">
                <i class="fa-solid fa-bars right__bars"></i>                
                </div>

                <div class="principal__nav">
                    <i class="fa-solid fa-angle-right right__mobile"></i>
                <div class="principal__left">
                    <a href="#" class="left__ancor">Servicios</a>
                    <a href="#" class="left__ancor">Equipo</a>
                    <a href="#" class="left__ancor">Contacto</a>
                </div>
                
            
            <div class="principal__right">
                <a href="#" class="right__ancor"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="right__ancor"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="right__ancor"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="right__ancor"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>            
        </header>

        <!--Main-->
        <main class="main__principal">
            <section class="principal__carrousel">
                <i class="fa-solid fa-angle-left carrousel__prev"></i>
                <div class="corrousel__contenedor">
                    <div class="carrousel__track">
                        <div class="track__description">
                            <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                            <h1 class="description__title">Pepperoni</h1>
                            <p class="description__parrafo">Disfruta de nuestra deliciosa pizza de pepperoni, elaborada con ingredientes frescos y de alta calidad.</p>
                            <button class="description__button">Ordenar ahora <i class="fa-solid fa-angle-right button__flechita"></i></button>
                        </div>
                        <div class="carrousel__img"></div>
                    </div>

                    <div class="carrousel__track">
                        <div class="track__description">
                            <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                            <h1 class="description__title">Especial</h1>
                            <p class="description__parrafo">Disfruta de nuestra deliciosa pizza especial, elaborada con ingredientes frescos y de alta calidad.</p>
                            <button class="description__button">Ordenar ahora <i class="fa-solid fa-angle-right button__flechita"></i></button>
                        </div>
                        <div class="carrousel__img"></div>
                    </div>

                    <div class="carrousel__track">
                        <div class="track__description">
                            <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                            <h1 class="description__title">Americana</h1>
                            <p class="description__parrafo">Disfruta de nuestra deliciosa pizza americana, elaborada con ingredientes frescos y de alta calidad.</p>
                            <button class="description__button">Ordenar ahora <i class="fa-solid fa-angle-right button__flechita"></i></button>
                        </div>
                        <div class="carrousel__img"></div>
                    </div>

                    <div class="carrousel__track">
                        <div class="track__description">
                            <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                            <h1 class="description__title">Margarita</h1>
                            <p class="description__parrafo">Disfruta de nuestra deliciosa pizza margarita, elaborada con ingredientes frescos y de alta calidad.</p>
                            <button class="description__button">Ordenar ahora <i class="fa-solid fa-angle-right button__flechita"></i></button>
                        </div>
                        <div class="carrousel__img"></div>
                    </div>

                    <div class="carrousel__track">
                        <div class="track__description">
                            <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                            <h1 class="description__title">Suprema</h1>
                            <p class="description__parrafo">Disfruta de nuestra deliciosa pizza suprema, elaborada con ingredientes frescos y de alta calidad.</p>
                            <button class="description__button">Ordenar ahora <i class="fa-solid fa-angle-right button__flechita"></i></button>
                        </div>
                        <div class="carrousel__img"></div>
                    </div>
                </div>
                    <i class="fa-solid fa-angle-right carrousel__next"></i>
                </section>
            </main>
        </div>
</body>

</html>