<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Pizza</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="/14 PRACTICA FINAL Web para pizzeria/assets/css/layout.css">
    <script src="https://kit.fontawesome.com/226c8304e7.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/logo.png">
    <script src="../js/app.js" defer></script>
</head>

<body>
    <div class="layout">
        <button class="btn__top btn__top-hiden">
            <i class="fa-solid fa-angles-up ico__top"></i>
        </button>
        <!--Header-->
        <header class="header__principal">

            <div class="header__left-group">
                <img src="../img/logo.png" alt="Logo de World Pizza" class="principal__logo">
                <i class="fa-solid fa-bars right__bars"></i>
            </div>

            <div class="principal__nav">
                <i class="fa-solid fa-angle-right right__mobile"></i>
                <div class="principal__left">
                    <a href="#servicios" class="left__ancor">Servicios</a>
                    <a href="#cheff" class="left__ancor">Equipo</a>
                    <a href="#contact" class="left__ancor">Contacto</a>
                </div>


                <div class="principal__right">
                    <a href="#" class="right__ancor"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="right__ancor"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="right__ancor"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="right__ancor"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </header>

        <!--Main-->
        <main class="main__principal">
            <section class="principal__carrousel">
                <button class="btn__prev">
                    <i class="fa-solid fa-angle-left carrousel__prev"></i>
                </button>
                <div class="carrousel__contenedor">
                    <div class="carrousel__inner">
                        <div class="carrousel__track">
                            <div class="track__description">
                                <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                                <h1 class="description__title">Pepperoni</h1>
                                <p class="description__parrafo">Disfruta de nuestra deliciosa pizza de pepperoni,
                                    elaborada con ingredientes frescos y de alta calidad.</p>
                                <button class="description__button">Ordenar ahora <i
                                        class="fa-solid fa-angle-right button__flechita"></i></button>
                            </div>
                            <div class="carrousel__img"> <img src="../img/menu/peperoni.png" alt="Pizza de Pepperoni"
                                    class="track__img"></div>
                        </div>

                        <div class="carrousel__track">
                            <div class="track__description">
                                <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                                <h1 class="description__title">Especial</h1>
                                <p class="description__parrafo">Disfruta de nuestra deliciosa pizza especial, elaborada
                                    con ingredientes frescos y de alta calidad.</p>
                                <button class="description__button">Ordenar ahora <i
                                        class="fa-solid fa-angle-right button__flechita"></i></button>
                            </div>
                            <div class="carrousel__img"> <img src="../img/menu/especial.png" alt="Pizza Especial"
                                    class="track__img"></div>
                        </div>

                        <div class="carrousel__track">
                            <div class="track__description">
                                <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                                <h1 class="description__title">Americana</h1>
                                <p class="description__parrafo">Disfruta de nuestra deliciosa pizza americana, elaborada
                                    con ingredientes frescos y de alta calidad.</p>
                                <button class="description__button">Ordenar ahora <i
                                        class="fa-solid fa-angle-right button__flechita"></i></button>
                            </div>
                            <div class="carrousel__img"> <img src="../img/menu/americana.png" alt="Pizza Americana"
                                    class="track__img"></div>
                        </div>

                        <div class="carrousel__track">
                            <div class="track__description">
                                <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                                <h1 class="description__title">Margarita</h1>
                                <p class="description__parrafo">Disfruta de nuestra deliciosa pizza margarita, elaborada
                                    con ingredientes frescos y de alta calidad.</p>
                                <button class="description__button">Ordenar ahora <i
                                        class="fa-solid fa-angle-right button__flechita"></i></button>
                            </div>
                            <div class="carrousel__img"> <img src="../img/menu/margarita.png" alt="Pizza Margarita"
                                    class="track__img"></div>
                        </div>

                        <div class="carrousel__track">
                            <div class="track__description">
                                <h3 class="description__subtitle">producto <strong>premium</strong></h3>
                                <h1 class="description__title">Suprema</h1>
                                <p class="description__parrafo">Disfruta de nuestra deliciosa pizza suprema, elaborada
                                    con ingredientes frescos y de alta calidad.</p>
                                <button class="description__button">Ordenar ahora <i
                                        class="fa-solid fa-angle-right button__flechita"></i></button>
                            </div>
                            <div class="carrousel__img"> <img src="../img/menu/suprema.png" alt="Pizza Suprema"
                                    class="track__img"></div>
                        </div>
                    </div>
                </div>
                <button class="btn__next">
                    <i class="fa-solid fa-angle-right carrousel__next"></i>
                </button>
            </section>
        </main>

        <!--Seccion servicios World Pizza-->
        <section class="section__layout" id="servicios">
            <div class="layout__titulos">
                <h3 class="titulos__subtitle">La mejor pizza del mundo</h3>
                <p class="titulos__title">Bienvenidos a World Pizza</p>
            </div>

            <div class="layout__description">
                <div class="description__ingredientes">
                    <div class="ingredientes__ico">
                        <i class="fa-solid fa-pepper-hot ico__services"></i>
                    </div>
                    <h4 class="ingredientes__title">Ingredientes</h4>
                    <p class="ingredientes__parrafo">Utilizamos solo los ingredientes más frescos y de alta calidad para
                        garantizar que cada bocado sea delicioso.</p>
                </div>

                <div class="description__ingredientes">
                    <div class="ingredientes__ico">
                        <i class="fa-solid fa-pizza-slice ico__services"></i>
                    </div>
                    <h4 class="ingredientes__title">Calidad</h4>
                    <p class="ingredientes__parrafo">Nos comprometemos a ofrecerte la mejor calidad en cada pizza,
                        utilizando técnicas de preparación tradicionales y hornos de leña.</p>
                </div>
            </div>

            <div class="layout__img">
                <img src="../img/mitad-mitad.png" alt="Pizza" class="layout__img-pizza" >
            </div>

            <div class="layout__eficient">
                <div class="description__ingredientes">
                    <div class="timmer__ico">
                        <i class="fa-solid fa-stopwatch-20 ico__timmer"></i>
                    </div>
                    <h4 class="ingredientes__title">Rapidez</h4>
                    <p class="ingredientes__parrafo">Nos comprometemos a ofrecerte un servicio rápido y eficiente, para
                        que disfrutes de tu pizza en el menor tiempo posible.</p>
                </div>

                <div class="description__ingredientes">
                    <div class="timmer__ico">
                        <i class="fa-solid fa-truck-fast ico__timmer"></i>
                    </div>
                    <h4 class="ingredientes__title">Delivery</h4>
                    <p class="ingredientes__parrafo">Encarga tu pizza ahora, nosotros te la llevamos a la puerta de tu
                        casa.</p>
                </div>
            </div>
        </section>

        <section class="section__team">
            <div class="team__cheff">
                <img src="../img/perfil1.png" alt="Cheff" class="cheff__img">
                <div class="cheff__description">
                    <p class="description__name">Jesús Alonso</p>
                    <p class="description__title-cheff">chef Pizzero</p>
                    <div class="cheff__redes">
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-facebook-f"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-instagram"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-twitter"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-linkedin"></i></samp></a>
                    </div>
                </div>
            </div>

            <div class="team__cheff" id="cheff">
                <img src="../img/perfil2.png" alt="Cheff" class="cheff__img">
                <div class="cheff__description">
                    <p class="description__name">Eliza Smith</p>
                    <p class="description__title-cheff">chef</p>
                    <div class="cheff__redes">
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-facebook-f"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-instagram"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-twitter"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-linkedin"></i></samp></a>
                    </div>
                </div>
            </div>

            <div class="team__cheff">
                <img src="../img/perfil3.png" alt="Cheff" class="cheff__img">
                <div class="cheff__description">
                    <p class="description__name">Enrique Matos</p>
                    <p class="description__title-cheff">Asistente del chef</p>
                    <div class="cheff__redes">
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-facebook-f"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-instagram"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-twitter"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-linkedin"></i></samp></a>
                    </div>
                </div>
            </div>

            <div class="team__cheff">
                <img src="../img/perfil4.png" alt="Cheff" class="cheff__img">
                <div class="cheff__description">
                    <p class="description__name">Paulina Vega</p>
                    <p class="description__title-cheff">Asistente</p>
                    <div class="cheff__redes">
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-facebook-f"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-instagram"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-twitter"></i></samp></a>
                        <a href="#" class="redes__link"><samp><i class="fa-brands fa-linkedin"></i></samp></a>
                    </div>
                </div>
            </div>
        </section>

        <!--Seccion Ingredientes-->
        <section class="section__ingredients">
            <div class="ingredients__ingredient">
                <img src="../img/ingredientes1.jpg" alt="Imagen de Queso" class="ingredients__img">
                <div class="ingredients__description">
                    <i class="fa-solid fa-cheese description__icon"></i>
                    <h4 class="ingredients__title">Quesos</h4>
                </div>
            </div>

            <div class="ingredients__ingredient">
                <img src="../img/ingredientes2.jpg" alt="Imagen de Queso" class="ingredients__img">
                <div class="ingredients__description">
                    <i class="fa-solid fa-leaf description__icon"></i>
                    <h4 class="ingredients__title">Vegetales</h4>
                </div>
            </div>

            <div class="ingredients__ingredient">
                <img src="../img/ingredientes3.jpg" alt="Imagen de Queso" class="ingredients__img">
                <div class="ingredients__description">
                    <i class="fa-solid fa-fill-drip description__icon"></i>
                    <h4 class="ingredients__title">Salsa</h4>
                </div>
            </div>

            <div class="ingredients__ingredient">
                <img src="../img/ingredientes4.jpg" alt="Imagen de Queso" class="ingredients__img">
                <div class="ingredients__description">
                    <i class="fa-solid fa-drumstick-bite description__icon"></i>
                    <h4 class="ingredients__title">Carnes</h4>
                </div>
            </div>
            </div>
        </section>

        <section class="section__contact" id="contact">
            <h3 class="titulos__subtitle">Queremos saber tu opinion!</h3>
            <h2 class="titulos__title">Contáctanos</h2>
            <form action="" class="contact__form">
                <div class="form__inputs">
                    <div class="inputs__name">
                        <i class="fa-solid fa-user"></i> 
                        <input type="text" class="contact__input" placeholder="Tu nombre"></div>
                    <div class="inputs__email">
                        <i class="fa-solid fa-envelope"></i> 
                        <input type="email" class="contact__input" placeholder="Tu email"></div>
                </div>
                <div class="inputs__message">
                    <i class="fa-solid fa-comments"></i> <textarea class="contact__textarea" placeholder="Escribe tu mensaje"></textarea>
                </div>
                <button type="submit" class="contact__button">Enviar</button>
            </form>
        </section>
    </div>
</body>

</html>