@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-backgraund: #EFF6F5;
    --color-primario: #FCB03B;
    --color-secundario: #E92F3D;
    --color-texto: #A1A5A6;
    --color-nav-mobile: #333333;
    --color-letras-mobile: #989D9C;
    --default-text: 'Open Sans';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-text);
}

html{
    font-size: 10px;
}

body{
    background: var(--color-backgraund);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titulos{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulos{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);
}


.boton{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--color-primario);
    font-weight: 700;
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top: 2rem;
    transition: all .3s linear;
}

.boton span{
    padding-left: 1.5rem;
}

.boton:hover{
    padding: 1.5rem 4.5rem;
}

.header__principal{
    width: 100%;
    height: 11rem;
    margin-top: 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.principal__left{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left__logo{
    width: 16rem;
    height: 13rem;
}

.left__ancor {
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 2rem; /* corregido */
    color: var(--color-texto);
    font-weight: 600;
    text-transform: uppercase;

    /* la "línea" abajo */
    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;

    transition: all 0.5s;
}

.left__ancor:hover {
    color: var(--color-secundario);
    background-size: 50% 2px; /* se anima la línea */
}

.principal__right{
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
}

.right__ancor{
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 2 rem;
    color: var(--color-texto);
    font-weight: 600;
    transition: all 0.5s;
}

.right__ancor:hover{
    color: var(--color-secundario);
}

@media screen and (max-width: 672px) {
    .fa-bars{
    position: fixed;
    display: inline;
    top: 5rem;
    right: 5rem;
    color: var(--color-texto);
    font-size: 3rem;
    cursor: pointer;
    transition: all .5s;
}

.fa-bars:hover{
    color: var(--color-secundario);
}
    
    .right__ancor, 
    .left__ancor{
        display: none;
    }

    .layout__nav{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -70rem;
    z-index: 1;
    background-color: var(--color-nav-mobile);
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .nav__active{
        right: 0;
    }

    .fa-angle-right{
        z-index: 1;
        color: var(--color-letras-mobile);
        font-size: 3rem;
        position: absolute;
        top: 5rem;
        right: 5rem;
        transition: all .5s;
        cursor: pointer;
    }

    .fa-angle-right:hover{
        color: var(--color-secundario);
    }

    .nav__description{
        z-index: 1;
        width: 50%;
        height: 20rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .layout__nav ul {
    list-style: none;
    z-index: 2;
    }

    .layout__nav li {
        margin: 4rem 0;
        text-align: center;
        z-index: 2;
    }

    .layout__nav a {
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 2rem;
        color: var(--color-letras-mobile);
        font-weight: 600;
        transition: all 0.5s;
        z-index: 2;
    }

    .layout__nav a:hover{
        color: var(--color-secundario);
    }

    .nav__social{
        width: 50%;
        height: 20rem;
        
        margin-top: 20rem;
    }
    .social__ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}