@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-backgraund: #EFF6F2;
    --color-primario: #FCB03B;
    --color-secundario: #E92F3D;
    --color-texto: #A1A5A6;
    --color-nav-mobile: #333333;
    --color-letras-mobile: #989D9C;
    --default-text: 'Open Sans';
    --header-height: 14rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-text);
}

html{
    font-size: 10px;
}

body{
    background: var(--color-backgraund);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.description__title{
    font-size: clamp(2rem, 5vw, 8rem); 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulos, .titulos__subtitle{
    font-size: clamp(1.4rem, 2vw, 6rem);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);
}


.description__button{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--color-primario);
    font-weight: 700;
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top: 2rem;
    transition: all .3s linear;
    
}

.description__button:hover .button__flechita {
    transform: translateX(2rem);
    transition: transform 0.3s ease;
}

.button__flechita {
    transform: translateX(0);
}


.description__button:hover{
    transform: scaleX(1.05);

}

.header__principal{
    width: 100%;
    height: 14rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: var(--color-backgraund);
}

.header__left-group {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.principal__logo{
    width: 14rem;
    margin: 2px;
}

.principal__left{
    gap: 2rem;
    display: flex;
    align-items: center;
}

.principal__nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__ancor{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem;
    background: linear-gradient(currentColor, currentColor); 
    background-position: 100% 100%; 
    background-repeat: no-repeat; 
    background-size: 0 2px;
    transition: all 0.5s;
}

.left__ancor:hover { 
    color: var(--color-secundario); 
    background-size: 50% 2px; 
}

.principal__right{
    display: flex;
    align-items: center;
    margin-left: auto; /* 🔹 empuja todo a la derecha */
    gap: 1rem;
}

.right__ancor{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 600;
    font-size: 2rem;
    margin: 2rem;
    transition: all 0.5s;
}

.right__ancor:hover{ 
    color: var(--color-secundario); 
}

.right__bars{
    display: none !important;
    font-size: 3rem;
    cursor: pointer;
    color: var(--color-texto);
    cursor: pointer;
    position: absolute;
    right: 6rem;
    top: 6rem;
}

.right__mobile{
    display: none !important;
}

/*Carrusel de pizzas*/
.main__principal{
    width: 100%;
    height: 100vh;
    padding-top: calc(var(--header-height));
    display: flex;
}

.principal__carrousel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carrousel__prev, .carrousel__next{
    font-size: 3rem;
    margin: 0 1rem;
    padding: 1rem;
    color: var(--color-secundario);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
    border-radius: 0.5rem;
}

.btn__next, .btn__prev{
    background-color: transparent;
    border: none;
    outline: none;
}
.carrousel__prev:hover, .carrousel__next:hover{
    background-color: #e92f3f81;
}
.carrousel__contenedor{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carrousel__inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.carrousel__track {
    flex: 0 0 100%;  /* cada slide ocupa 100% */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.track__description{
    flex: 1;
    max-width: 30%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.description__subtitle{
    font-size: clamp(1.8rem, 3vw, 6rem); 
    font-weight: 100;
    text-transform: lowercase;
}

.description__subtitle>strong{
    font-weight: 500;
}

.description__parrafo{
    color: var(--color-texto);
    font-size: 1.6rem;
    font-style: italic;
}

.carrousel__img {
    flex: 1;
    max-width: 70%;
}


.track__img{
    flex: 1; 
    height: auto;
    width: 100%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    object-fit: contain;
}

.track__img:hover{
    scale: 1.1;
}

/*BTN TOP*/

.btn__top{
    display:block;
    border: none;
    outline: none;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-primario);
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1;
}

.btn__top-hiden{
    display: none;
}

.ico__top{
    color: var(--color-backgraund);
    font-size: 2rem;
}


/*SECCION EQUIPO*/
.section__team{
    height: 100vh;
    display: flex;
}

.team__cheff{
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}

.team__cheff:hover{
    flex-grow: 3;
}

.cheff__img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: all .5s ease-in-out;
}

.team__cheff:hover .cheff__img{
    filter: grayscale(0%);
}

.cheff__description{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    transition: all .1s linear;
    opacity: 0;
}

.team__cheff:hover .cheff__description{
    opacity: 1;
    bottom: 6rem;
    transition-delay: .3s;
}

.description__name{
    font-size: 3rem;
    color: #000;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.description__title-cheff{
    color: var(--color-secundario);
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.5);
}

.cheff__redes .redes__link{
    display: inline-block;
    height: 4rem;
    width: 4rem;
    color: #fff;
    background-color: var(--color-secundario);
    line-height: 4rem;
    border-radius: 50%;
    margin: 0 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.5s linear;
}

.cheff__redes .redes__link:hover{
    color: var(--color-secundario);
    background-color: transparent;
    transform: scale(2);
}

/*Seccion ingredientes*/

.section__ingredients{
    width: 100%;
    height: 28rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ingredients__ingredient{
    position: relative;
    flex: 1;
    height: 100%; 
    overflow: hidden;
}

.ingredients__img{
    position: absolute;
    width: 100%;
    object-fit:cover;
    height: 100%; 
    transition: all .5s ease-in-out;
    display: flex;
    z-index: -1;
    filter: brightness(0.6);
}
.ingredients__ingredient:hover .ingredients__img {
    filter: brightness(0.9);
}
.ingredients__description{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.description__icon, .ingredients__title{
    font-size: 3rem;
    color: #fff;
    text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}

.ingredients__ingredient:hover .ingredients__description {
    transform: translateY(20px);
}

/*Section Contacto*/

.section__contact{
    width: 100%;
    height: 100vh;
    padding: calc(var(--header-height));;
}

.titulos__title{
    text-align: center;
    font-size: clamp(3rem, 3vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.contact__form{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__inputs{
    width: 80%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.inputs__name, .inputs__email{
    height: 100%;
    margin: 0 2rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa-envelope, .fa-user{
    
}